* {
    margin: 0px;
}  

body {
    margin: 20px;
    padding: 0px;
    font: normal 15pt Arial;
    background-color: #427A63;
}

header {
    text-align: center;
    letter-spacing: 0px;
    font-style: oblique;
    font-size: 20px;
}

main {
    text-align: center;
    margin: auto;
    background-color: white;
    width: fit-content; 
    border-radius: 10px;
}

#dados {
    background-color: white;
    padding: 20px;
    margin-top: 15px;
}

#dados > p {
    background-color: white;
    font-size: larger;
    font-weight: 90px;
}

#txttab {
    background-color: rgba(61, 56, 56, 0.25);
    border-radius: 4px;
    height: 30px;
    width: 170px;
    text-align: center;
    font-size:25px;
    padding-left: 15px;
}

#button {
    background-color: rgba(61, 56, 56, 0.25);
    height:39px;
    width: 80px;
    cursor: pointer;
    border-radius: 4px;
    font-size:large;  
}

#button:hover {
    background-color: rgba(61, 56, 56, 0.487);
}

#res  {
    background-color: white;
    font-weight: 90px;
    border-radius: 10px;
    padding-bottom: 10px;
}

#seltab {
    padding: 15px 0px;
}

#seltab > option {
    padding: 0px 15px;
}

#seltab {
    font-size: larger;
}

#rodape {
    text-align: center;
    padding-top: 30px;
    color: white;
    font-style: italic;
}
