body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(213, 213, 230);
}

header {
    text-align: center;
    background-color: bisque;
}

section {
    border-color: red;
    text-align: center;
    background-color: aqua;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}

#res {
    padding: 15px;
    font-size: larger;
}

footer {
    text-align: center;
    font-style: italic;
    color: green;
}

#txti {
    border-radius: 4px;
    height: 20px;
    
}

#txtf {
    border-radius: 4px;
    height: 20px;
}

#txtp {
    border-radius: 4px;
    height: 20px;
}

p {
    font-size: larger;
}

#button {
    font-size: medium;
    border-radius: 4px;
}
